[submodule "MrT/Modules/Platforms/Common"]
	path = MrT/Modules/Platforms/Common
	url = https://github.com/uprev-mrt/platform-common.git
[submodule "MrT/Modules/Devices/RegDevice"]
	path = MrT/Modules/Devices/RegDevice
	url = git@github.com:uprev-mrt/device-regdevice.git
[submodule "MrT/Modules/Platforms/STM32"]
	path = MrT/Modules/Platforms/STM32
	url = git@bitbucket.org:uprev/platform-stm32.git
